<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xusheng.scm.dao.GoodsMapper" >

  <resultMap id="baseResultMap" type="com.xusheng.scm.entity.Goods" >
    <id column="goods_Id" property="goodsId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_unit" property="goodsUnit" jdbcType="VARCHAR" />
    <result column="goods_type" property="goodsType" jdbcType="VARCHAR" />
    <result column="goods_color" property="goodsColor" jdbcType="VARCHAR" />
    <result column="goods_store" property="goodsStore" jdbcType="INTEGER" />
    <result column="goods_limit" property="goodsLimit" jdbcType="INTEGER" />
    <result column="goods_commission" property="goodsCommission" jdbcType="DECIMAL" />
    <result column="goods_producer" property="goodsProducer" jdbcType="VARCHAR" />
    <result column="goods_remark" property="goodsRemark" jdbcType="VARCHAR" />
    <result column="goods_sel_price" property="goodsSelPrice" jdbcType="DECIMAL" />
    <result column="goods_buy_price" property="goodsBuyPrice" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="selectPageCount" resultType="integer" parameterType="Page">
  	SELECT COUNT(1) FROM goods
  	<where>
  		<if test="paramEntity.goodsName != null and paramEntity.goodsName != '' ">AND goods_name like #{paramEntity.goodsName}</if>
  </where> 
  </select>
  
  <select id="selectPage" parameterType="Page" resultMap="baseResultMap">
  	SELECT goods_Id,goods_name,goods_unit,goods_type,goods_color,goods_store,goods_limit,goods_commission,
  		 goods_producer,goods_remark,goods_sel_price,goods_buy_price FROM goods 
  		 <where>
  		 	<if test="paramEntity.goodsName != null and paramEntity.goodsName != '' ">AND goods_name LIKE #{paramEntity.goodsName}</if>
  		 </where> 
  	LIMIT #{start},#{rows}
  </select>
  
</mapper>