<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xusheng.scm.dao.SupplierMapper" >
  <resultMap id="supplierResultMap" type="com.xusheng.scm.entity.Supplier" >
    <id column="sup_id" property="supId" jdbcType="INTEGER" />
    <result column="sup_name" property="supName" jdbcType="VARCHAR" />
    <result column="sup_linkman" property="supLinkman" jdbcType="VARCHAR" />
    <result column="sup_phone" property="supPhone" jdbcType="VARCHAR" />
    <result column="sup_address" property="supAddress" jdbcType="VARCHAR" />
    <result column="sup_remark" property="supRemark" jdbcType="VARCHAR" />
    <result column="sup_pay" property="supPay" jdbcType="DECIMAL" />
    <result column="sup_type" property="supType" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="Supplier">
  	INSERT INTO  supplier (sup_id,sup_name,sup_linkman,sup_phone,sup_address,sup_remark,sup_pay,sup_type)
		VALUES (#{supId},#{supName},#{supLinkman},#{supPhone},#{supAddress},#{supRemark},#{supPay},#{supType})
  </insert>
  
  <select id="selectPage" parameterType="Page" resultMap="supplierResultMap">
  	SELECT * FROM supplier 
  	<where>
  		<if test="paramEntity.supName !=null and paramEntity.supName != ''">AND sup_name like #{paramEntity.supName}</if>
  		<if test="paramEntity.supAddress != null and paramEntity.supAddress != ''">AND sup_address like #{paramEntity.supAddress}</if>
  	</where>   
  	LIMIT #{start},#{rows}
  </select>
  
  <select id="selectPageCount" parameterType="Page" resultType="integer">
  	SELECT COUNT(1) FROM supplier 
  	<where>
  		<if test="paramEntity.supName !=null and paramEntity.supName != ''">AND sup_name like #{paramEntity.supName}</if>
  		<if test="paramEntity.supAddress != null and paramEntity.supAddress != ''">AND sup_address like #{paramEntity.supAddress}</if>
  	</where> 
  </select>
  
  <delete id="deletePageById">
  	DELETE FROM supplier WHERE sup_id IN 
  	<foreach collection="array" index="index" item="pk" open="(" separator="," close=")" >#{pk}</foreach>
  </delete>
  
  <update id="update" parameterType="Supplier">
  	UPDATE supplier       
  	<set>
  		<if test="supName != null and supName != ''">sup_name = #{supName},</if>
  		<if test="supLinkman != null and supLinkman != ''">sup_linkman = #{supLinkman},</if>
  		<if test="supPhone != null and supPhone != ''">sup_phone = #{supPhone},</if>
  		<if test="supAddress != null and supAddress != ''">sup_address = #{supAddress},</if>
  		<if test="supRemark != null and supRemark != ''">sup_remark = #{supRemark},</if>
  		<if test="supPay != null and supPay != ''">sup_pay = #{supPay},</if>
  		<if test="supType != null and supType != ''">sup_type = #{supType}</if>
  	</set>
  	 WHERE sup_id=#{supId}
  </update>
</mapper>